@*@{
    Layout = null;
}*@
<div class="col-md-12 grid-margin stretch-card">
    <div class="card " style="border:none !important;">
        <div class="card-body ">

            <form class="forms-sample" method="post" asp-action="Add" asp-controller="Product">
                <div class="form-group">
                    <label for="prod">CarName</label>
                    <input name="CarName" type="text" class="form-control" id="prod" placeholder="CarName">
                </div>
                <div class="form-group">
                    <label for="qua">CarPrice</label>
                    <input name="CarPrice" type="number" class="form-control" id="qua" placeholder="CarPrice">
                </div>
                <div class="form-group">
                    <label for="price">CarLuggage</label>
                    <input name="CarLuggage" type="text" class="form-control" id="price" placeholder="CarLuggage">
                </div>
                <div class="form-group">
                    <label for="cate">CarQuantity</label>
                    <input name="CarQuantity" type="text" class="form-control" id="date" placeholder="CarQuantity">
                </div>
               
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2 ">Submit</button> 

            </form>
        </div>
    </div>
</div>